<div id="<%= dom_id schedule %>">
  <p>
    <strong>Day:</strong>
    <%= schedule.day %>
  </p>

  <p>
    <strong>Time from:</strong>
    <%= schedule.time_from %>
  </p>

  <p>
    <strong>Time to:</strong>
    <%= schedule.time_to %>
  </p>

</div>
