
<% if current_user.role == "bank_personal"%>
  <h1>Solving appointment</h1>
<% else %>
  <h1>Editing appointment</h1>
<% end %>

<%= render "form", appointment: @appointment %>

<br>

<div>
  <%= link_to "Show this appointment", @appointment %> |
  <%= link_to "Back to appointments", appointments_path %>
</div>
